= form_for(@offer) do |f|
  - if @offer.errors.any?
    #error_explanation
      %h2
        = pluralize(@offer.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @offer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :title
    %br/
    = f.text_field :title, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :dates
    %br/
    = f.text_field :dates, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :main_image_link
    %br/
    = f.text_field :main_image, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :country
    %br/
    = f.text_field :country, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :city
    %br/
    = f.text_field :city, {style: "width: 800px; height: 50px;"}
  .field
    = f.label "Zip code - only digits eg \"12345\""
    %br/
    = f.text_field :zip_code, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :address
    %br/
    = f.text_field :address, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :short_teaser
    %br/
    = f.text_area :short_teaser, {style: "width: 800px; height: 200px;"}
  .field
    = f.label :description
    %br/
    = f.text_area :description, {style: "width: 800px; height: 600px;"}
  %br
  %hr
  .field
    = f.label :published
    %br/
    = f.check_box :published
  %br
  .actions
    = f.submit
