%section#content
  .container
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-12.post-single
            = image_tag(@offer.main_image)
            %h3.text-center= raw(@offer.short_teaser)
        %hr
        .row
          .col-md-12.post-single
            %p= raw(@offer.description)

      .col-md-4.col-sm-4.sidebar
        .widget-sidebar.text-center
          %h3= @offer.name
          .well
            = @offer.address
            %br
            = @offer.zip_code
            = @offer.city
            %br
            = @offer.country
        .widget-sidebar.text-center
          %h3 Do you have questions about this offer?
          .well
            = render partial: 'offer_inquiries/form', locals: { inquiry: @inquiry }
