%section#content
  .container
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-12.post-single
            = image_tag(@offer.main_image)
            %h3.text-center= raw(@offer.short_teaser)
        %hr
        .row
          .col-md-12
            = markdown(@offer.description)

      .col-md-4.col-sm-4
        %br
        .fb-like-box.text-center{"data-colorscheme" => "light", "data-header" => "false", "data-href" => "https://www.facebook.com/elskamor", "data-show-border" => "true", "data-show-faces" => "true", "data-stream" => "false"}
        %br
        %br
        .sidebar
          .widget-sidebar.text-center
            .well
              %h2= @offer.title
              %hr
              %h4= ["#{@offer.city}", "#{@offer.country}"].join(', ')
              %h4= @offer.dates
          .widget-sidebar.text-center
            %h3 Do you have questions about this offer?
            .well
              = render partial: 'offer_inquiries/form', locals: { inquiry: @inquiry }
