= simple_form_for :inquiry do |f|
  = f.input :name
  = f.input :phone, required: false
  = f.input :email, as: :email
  = f.input :message, as: :text, hint: "* required fields"
  = f.button :submit, 'Send'
