= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    %br/
    = f.text_field :title, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :main_image_link
    %br/
    = f.text_field :main_image, {style: "width: 800px; height: 50px;"}
  .field
    = f.label :body
    %br/
    = f.bootsy_area :body, {style: "width: 800px; height: 550px;"}
  .actions
    = f.submit