%section#content
  .container
    .row
      - if user_signed_in?
        .text-center
          = link_to 'Add New Post Here', new_post_path, class: 'btn btn-lg btn-primary'
        %br
        %br
        %br

    .row
      - @posts.each do |post|
        .col-md-6
          .post-content
            = image_tag("img05.jpg")
            .heading-title.heading-small
              %h2
                = link_to post.title, post_path(post)
            .post-meta
              %span
                By Maria
                / %a{:href => "#", :rel => "author", :title => "Posts by admin"} 
              %span
                = post.created_at.strftime("on %A, %B %e, %Y")
            %p
              = strip_tags(post.body[0..250])
              = "..."
            .post-link
              %a{:href => post_path(post)}
                %span Read More
                - if user_signed_in?
                  %br
                  %br
                  %hr
                  %br
                  .well.well-small
                    = link_to 'Edit', edit_post_path(post)
                    = link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }