.text-center
  = link_to 'New Post', new_post_path, class: 'btn btn-primary'

- @posts.each do |post|
  .col-md-4.col-sm-6
    .post-container
      .post-content
        .post-meta
          %span
            By
            %a{href: "#", rel: "author", title: "Posts by admin"} Anita
          %span On September 11, 2014
          %span
            In
            %a{href: "#"} Stories
        %p
          = post.title
        .post-link
          %a
            %span= link_to 'Read More', post
            %span= link_to 'Edit', edit_post_path(post)
            %span= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
      .post-atribut
        .row
          .col-md-4.col-sm-4.col-xs-4
            %a{href: "#"}
              %span
                %i.fa.fa-heart
                2000
          .col-md-4.col-sm-4.col-xs-4
            %a{href: "#"}
              %span
                %i.fa.fa-comments
                400
          .col-md-4.col-sm-4.col-xs-4
            %a{href: "#"}
              %span
                %i.fa.fa-eye
                2500

.clearfix
