%section#content
  .container
    .row
      / begin:article
      .col-md-8.col-sm-8
        .row
          .col-md-12.post-single
            .heading-title
              %h2
                %a= @post.title
            .post-meta
              %span
                %em
                  By
                  %a Maria
              %span
                %em On May 04, 2014
            = image_tag("img05.jpg")
            %p= raw(@post.body)
        %hr/
      / begin:sidebar
      .col-md-4.col-sm-4.sidebar
        .widget-sidebar.widget_top-posts
          %h3 Latest Posts
          %ul
            - Post.last(3).each do |latest|
              %li
                .post-wrapper
                  .post-img
                    = image_tag("img05.jpg")
                  .post-text
                    .post-meta
                      %span
                        %em= latest.created_at.strftime("on %A, %B %e, %Y")
                    .heading-title
                      %h2
                        %a{href: post_path(latest)}= latest.title
                  .body
                    %p= latest.body[0..100]

