%body
  / Google Tag Manager
  %noscript
    %iframe{:height => "0", :src => "//www.googletagmanager.com/ns.html?id=GTM-MFP3WT", :style => "display:none;visibility:hidden", :width => "0"}
  :javascript
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MFP3WT');
  / End Google Tag Manager
  #navbar-top.collapse.navbar-collapse
    .container
      %a.navbar-brand{href: root_path}
        ELSKAMOR
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: root_path} Home
        %li
          %a{href: posts_path} Blog
        %li
          %a{href: offers_path} Offers
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            About
            %b.caret
          %ul.dropdown-menu
            %li.disabled
              %a= link_to 'Team', team_path
            %li.disabled
              %a= link_to 'About us', about_us_path
            %li.disabled
              %a= link_to 'How does it work?', faq_path
            %li.disabled
              %a= link_to 'Imprint', imprint_path
        - if user_signed_in?
          %li
            %a= link_to 'Inquiries', offer_offer_inquiries_path(1)
          %li
            = link_to 'Sign out', destroy_user_session_path
        -else
          %li
            %a{href: new_user_session_path} Sign in

  %section#header{style: "background-image: url('http://33.media.tumblr.com/ba7758a52675589e05dc931572be9688/tumblr_n7ygur3NV91st5lhmo1_1280.jpg');"}
    .container.text-center
      .landing-logo
        = image_tag("elskamor_transparent_white.png")

  .flash-messages
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        .alert.alert-info.alert-dismissable
          %a.close{"data-dismiss" => "alert"} &times;
          %p.text-center= content_tag :span, msg, :id => "flash_#{name}"
