/ !!!
/ %html
/   %head
/     %title Elskamor
/     = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
/     = javascript_include_tag 'application', 'data-turbolinks-track' => true
/     = csrf_meta_tags
/   %body
/     = yield
!!!
%html{lang: "en"}
  %head
    %title Elskamor
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "img/favicon.png", rel: "shortcut icon"}/
    %title Danish./
    / Bootstrap core CSS
    %link{href: "css/bootstrap.css", rel: "stylesheet"}/
    / Custom styles for this template
    %link{href: "http://fonts.googleapis.com/css?family=Raleway:400,800", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Noto+Serif:700,400italic", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/font-awesome.min.css", rel: "stylesheet"}/
    %link{href: "css/style.css", rel: "stylesheet"}/
    %link{href: "css/responsive.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
  %body
    / begin:navbar
    %nav.navbar.navbar-default.navbar-transparent.navbar-fixed-top{role: "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#navbar-top", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "index.html"}
            %i.fa.fa-recycle
            = succeed "sh." do
              %span Dani
        / Collect the nav links, forms, and other content for toggling
        #navbar-top.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{href: "index.html"} Home
            %li
              %a{href: "about.html"} About
            %li
              %a{href: "contact.html"} Contact
            %li
              %a{href: "page.html"} Page
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                Pages
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{href: "blog.html"} Blog
                %li
                  %a{href: "single.html"} Single
                %li
                  %a{href: "archive.html"} Archives
                %li
                  %a{href: "category.html"} Category
                %li
                  %a{href: "portfolio.html"} Portfolio
                %li
                  %a{href: "portfolio-single.html"} Portfolio Single
        / /.navbar-collapse
      / /.container-fluid
    / end:navbar
    / begin:header
    %section#header{style: "background: url(img/img03.jpg) center center;"}
      .container
        .row
          .col-md-8.col-md-offset-2
            %blockquote
              %p Mendapatkan hati wanita cantik itu tidak mudah, apalagi jika kamu tidak terlalu lucu ~
              %small Tarjono
      .overlay
    / end:header
    / begin:featured
    = yield
    #featured
      .container
        .row
          .col-md-4.col-sm-4
            .featured-container
              .featured-img{style: "background: url(img/img03.jpg);"}
                %h3
                  %a{href: "#"} Post title / Your Category..
          .col-md-4.col-sm-4
            .featured-container
              .featured-img{style: "background: url(img/img04.jpg);"}
                %h3
                  %a{href: "#"} Post title / Your Category..
          .col-md-4.col-sm-4
            .featured-container
              .featured-img{style: "background: url(img/img05.jpg);"}
                %h3
                  %a{href: "#"} Post title / Your Category..
    / end:featured
    / begin:content
    %section#content
      .container
        .row.container-post
          / begin:article
          .col-md-4.col-sm-6
            .post-container
              .post-content
                .heading-title.heading-small
                  %h2
                    %a{href: "#"} This is sample post text
                .post-meta
                  %span
                    By
                    %a{href: "#", rel: "author", title: "Posts by admin"} Admin
                  %span On September 11, 2014
                  %span
                    In
                    %a{href: "#"} Story
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat...
                .post-link
                  %a{href: "#"}
                    %span Read more
              .post-atribut
                .row
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-heart
                        2000
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-comments
                        400
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-eye
                        2500
          / break
          .col-md-4.col-sm-6
            .post-container
              .post-content.no-padding
                %img{alt: "danish personal blog template", src: "img/img01.jpg"}/
              .post-content
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              .post-atribut
                .row
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-heart
                        2000
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-comments
                        400
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-eye
                        2500
          / break
          .col-md-4.col-sm-6
            .post-container
              .post-content
                %img{alt: "danish personal blog template", src: "img/img02.jpg"}/
                .heading-title.heading-small
                  %h2
                    %a{href: "#"} This is sample post text with featured image
                .post-meta
                  %span
                    By
                    %a{href: "#", rel: "author", title: "Posts by admin"} Admin
                  %span On September 11, 2014
                  %span
                    In
                    %a{href: "#"} Story
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                .post-link
                  %a{href: "#"}
                    %span Read more
              .post-atribut
                .row
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-heart
                        2000
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-comments
                        400
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-eye
                        2500
          / break
          .col-md-4.col-sm-6
            .post-container
              .post-content
                %blockquote
                  %p Dikehidupan manusia itu memang banyak usaha yang tidak membuahkan hasil. Usaha mendapatkan cintamu misalnya..
                  %small Bardiman
              .post-atribut
                .row
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-heart
                        2000
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-comments
                        400
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-eye
                        2500
          / break
          .col-md-4.col-sm-6
            .post-container
              .post-content
                %img{alt: "danish personal blog template", src: "img/img04.jpg"}/
                %p This is sample post image caption
                .post-link
                  %a{href: "#"}
                    %span Read more
              .post-atribut
                .row
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-heart
                        2000
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-comments
                        400
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-eye
                        2500
          / break
          .col-md-4.col-sm-6
            .post-container
              .post-content
                .post-meta
                  %span
                    By
                    %a{href: "#", rel: "author", title: "Posts by admin"} Admin
                  %span On September 11, 2014
                  %span
                    In
                    %a{href: "#"} Story
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat...
                .post-link
                  %a{href: "#"}
                    %span Read more
              .post-atribut
                .row
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-heart
                        2000
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-comments
                        400
                  .col-md-4.col-sm-4.col-xs-4
                    %a{href: "#"}
                      %span
                        %i.fa.fa-eye
                        2500
          / break
        / end:article
    / end:content
    / begin:portfolio
    %section#portfolio
      %ul.list-unstyled.container-portfolio
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img01.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img02.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img03.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img04.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img05.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img04.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img01.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
        %li
          .portfolio-item
            .portfolio-img{style: "background: url(img/img02.jpg);"}
            .portfolio-caption
              .portfolio-text
                %h3 Portfolio Title /
                %p Short Description About Portfolio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus.
                %a.btn.btn-info{href: "#"} View »
    / end:portfolio
    / begin:partner
    %section#partner
      .container
        .row
          .col-md-12
            %ul.list-unstyled.brand-img
              %li
                %a{href: "#"}
                  %img{src: "img/partner01.png"}/
              %li
                %a{href: "#"}
                  %img{src: "img/partner02.png"}/
              %li
                %a{href: "#"}
                  %img{src: "img/partner01.png"}/
              %li
                %a{href: "#"}
                  %img{src: "img/partner02.png"}/
    / end:partner
    / begin:footer
    %section#footer
      .container
        .row
          .col-md-3.col-sm-3
            .widget
              %h3 Recent Post
              %ul.list-unstyled
                %li
                  %a{href: "#"} Lorem ipsum
                %li
                  %a{href: "#"} Lorem
                %li
                  %a{href: "#"} Lorem ipsum dolor
                %li
                  %a{href: "#"} Lorem sit
                %li
                  %a{href: "#"} Lorem dolor sit
          .col-md-3.col-sm-3
            .widget
              %h3 Useful Links
              %ul.list-unstyled
                %li
                  %a{href: "#"} Lorem sit
                %li
                  %a{href: "#"} Lorem dolor sit
                %li
                  %a{href: "#"} Home
                %li
                  %a{href: "#"} About
                %li
                  %a{href: "#"} Contact
          .col-md-6.col-sm-5
            .footer-logo
              %h2
                %i.fa.fa-recycle
                Danish.
              %p
                1024 Main Street, Jejeran Plrt Btl
                %br>/
                +62 (123) 456-7890
              %br/
              %p.muted © 2014 Brand Inc.
              %a{href: "#"} Terms of Service
              %a{href: "#"} Privacy
    / end:footer
    / begin:copyright
    %section#copyright
      .container
        .row
          .col-md-6.col-sm-6.copy-left
            %p
              Copyright © 2014
              = succeed "." do
                %strong avriqqlabs
          .col-md-6.col-sm-6.copy-right
            %ul.list-inline.social-icon
              %li
                %a.icon-twitter{"data-original-title" => "Twitter", "data-placement" => "top", href: "#", rel: "tooltip", title: ""}
                  %i.fa.fa-twitter
              %li
                %a.icon-facebook{"data-original-title" => "Facebook", "data-placement" => "top", href: "#", rel: "tooltip", title: ""}
                  %i.fa.fa-facebook-square
              %li
                %a.icon-youtube{"data-original-title" => "Youtube", "data-placement" => "top", href: "#", rel: "tooltip", title: ""}
                  %i.fa.fa-youtube
              %li
                %a.icon-instagram{"data-original-title" => "Instagram", "data-placement" => "top", href: "#", rel: "tooltip", title: ""}
                  %i.fa.fa-instagram
    / end:copyrigt
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
    %script{src: "js/jquery.js"}
    %script{src: "js/bootstrap.js"}
    %script{src: "js/masonry.pkgd.min.js"}
    %script{src: "js/imagesloaded.pkgd.min.js"}
    %script{src: "http://maps.google.com/maps/api/js?sensor=false&language=en", type: "text/javascript"}
    %script{src: "js/gmap3.min.js"}
    %script{src: "js/jquery.isotope.min.js"}
    %script{src: "js/jquery.easing.js"}
    %script{src: "js/script.js"}